@font-face {
  font-family: fredoka;
  src: url(assets/fonts/Fredoka-VariableFont_wdth\,wght.ttf);
}
:root {
--darkness: rgb(2, 21, 38);
--darkblue: rgb(3, 52, 110);
--blue: rgb(110, 172, 218);
--turquoise: Turquoise ;
}
* {
  box-sizing: border-box;
  font-size: 20px;
  font-family: fredoka;
  margin: 0%;
  padding: 0%;
  border: 0%;
}

body {
  color: white;
  width: auto;
  margin: 0%;
  padding: 0%;
  border: 0%;
  overflow-x: hidden;
}
.hand {
  display: flexbox;
}
.hidden {
  display: none;
}
header {
  position: relative;
  top: 0;
  left: 0;
  width: auto;
  background: linear-gradient(var(--darkness), var(--darkness),  var(--darkblue));
  background-size: cover;
  padding: 2% 0;
}
h1 {
  justify-self: center;
  text-align: center;
  font-size: 4rem;
  color: var(--turquoise);
}
h2 {
  margin: 5%;
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
  margin-bottom: 2%;
}
h2, h3, p {
  text-shadow: 1px 1px 5px black ;
}
main {
  background: linear-gradient(var(--darkblue), var(--turquoise), var(--turquoise));
}

#loader-backdrop{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 1);
  z-index: 100;
}
#loader-backdrop img {
  width:100%;
  border-radius: 50px;
  position: relative;
  align-self: center;
  z-index: 50;
}
#loader-backdrop h3 {
  z-index: 100;
  font-weight: 600;
  position: absolute;
  text-align: center;
  text-justify: center;
  width: 300px;
  height: fit-content;
  bottom: 20vh;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(192, 0 , 0) ;
}

.pic-div {
  width: 100vw;
  justify-items: center;
}

.bust {
  width: 20vw;
  border-radius: 50%;
  border: 15px solid var(--blue);
  position: relative;
  
}

.pointing-left {
  width: 20vw;
  position: relative;
  transform: rotateY(180deg) rotateZ(-20deg);
  animation: pointMotion 2s ease-in-out infinite;
}


.pointing-right {
  width: 20vw;
  position: relative;
  transform: rotateZ(-20deg);
  animation: pointMotion2 2s ease-in-out infinite;
}

@keyframes pointMotion {
  0% {left: -20%}
  50% {left: 0%; }
  100% {left: -20%; }
}
@keyframes pointMotion2 {
  0% {right: -20%}
  50% {right: 0%; }
  100% {right: -20%; }
}

.gallery-item {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 5%;
}

.gallery-item:nth-child(even) a {
  grid-column: 2;
  grid-row: 1;
}
.gallery-item:nth-child(even) .gallery-text {
  grid-column: 1;
  grid-row: 1;
}

.gallery-item a {
  display: block;
}

.gallery-img {
  display: block;
  height: auto;
  width: 100%;
  border-radius: 20px;
  box-shadow: 10px 10px 8px black;
  transition: 200ms all ease-in-out;
}
.gallery-img:hover {
  transform: scale(1.1);
  transition: 200ms all ease-in-out;
  box-shadow: 2px 2px 5px black;
}
.gallery-img:active {
  transform: scale(1);
}


footer {
  height: 20vh;
  background: linear-gradient( var(--turquoise), var(--turquoise), var(--darkblue),var(--darkness));
  background-size: cover;
  padding: 10%;
  text-align: center;
}
.gallery-text {
  align-content: center;
  justify-items: center;
  background: radial-gradient( hsla(0, 0%, 0%, 0.2), hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0));
}
.gallery-text p {
  padding: 0 25%;
  text-align: center;
}
.social-links {
  width: 2em;
  margin: 2% 1%;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  box-shadow: 0 0 5px white;
  transition: all 0.3s;
}
.social-links:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}
@media (max-width: 1400px) {
  h1 {
    font-size: 3.2em;
  }
  h2 {
    font-size: 1.8em;
  }
}
@media (max-width: 1200px) {
  h1 {
    font-size: 2.6em;
  }
  h2, h3 {
    font-size: 1.5em;
  }
  .gallery-text p {
    margin: 0;
    padding: 2%;
    text-align: center;
    font-size: 1em;
  }
    .gallery-item {
    display: grid;
  }
}

@media (max-width: 1000px) {
  h1 {
    font-size: 1.8em;
  }
  h2, h3 {
    font-size: 1.2em;
  }
  .gallery-text p {
    margin: 0;
    padding: 2%;
    text-align: center;
    font-size: 1em;
  }
    .gallery-item {
    display: grid;
  }
  footer {
    padding: 15%;
  }
}
@media (max-width: 800px) {
  h1 {
    font-size: 1.5em;
  }
  h2, h3 {
    font-size: 0.9em;
  }
  .gallery-text p {
    margin: 0;
    padding: 1.5%;
    text-align: center;
    font-size: 0.8em;
  }
  .gallery-item {
    display: block;
  }
  .gallery-item img {
    margin: 5% 0;
  }
  
}
@media (max-width: 600px) {
  .bust {
    border: 8px solid var(--blue);
  }
  h1 {
    font-size: 1.3em;
  }
  h2, h3 {
    font-size: 0.8em;
  }
  .gallery-text p {
    margin: 0;
    padding: 1.5%;
    text-align: center;
    font-size: 0.7em;
  }
  .gallery-item {
    display: block;
  }
  footer {
    padding: 15%;
  }
}
